<div class="container">
  <div class="row">
    <div class="col mt-4">
      <%= form_tag customers_path, method: :get do %>
        <%=label_tag :page_size%>
        <%= select_tag(:page_size,
          options_for_select([
            [t("nums")[1], 1],
            [t("nums")[2], 2],
            [t("nums")[3], 3],
            [t("nums")[4], 4],
            [t("nums")[5], 5],
            [t("nums")[6], 6],
            [t("nums")[7], 7],
            [t("nums")[8], 8],
            [t("nums")[9], 9],
            [t("nums")[10], 10],
          ]),
          {
            prompt: current_size,
            onchange: 'this.form.submit()',
            class: "btn btn-secondary btn-sm"
          }
        )%>
      <% end %>
    </div>
  </div>
</div>