<h1> Customers </h1>

<% @customers.each do |customer| %>
  <%=render "customer_card", customer: customer%>
<% end %>

<%=render "page_size_dropdown_menu"%>

<div class = "mt-4">
  <%= pagy_bootstrap_nav(@pagy).html_safe %>
</div>